
<div class="row">
    <hr>
    <h1>ACERCA DE MI</h1>
<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">

    <a href="../../../assets/imagen acerca d/dsBuffer.bmp.png"><img src="../../../assets/imagen acerca d/foto perfil.jpg" alt="foto del interesado no disponible" ></a>

    <h4>{{persona.nombre}} {{persona.apellido}} </h4>
</div>
<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
   <h2>FULL
       <br>
       STACK
       <br>
       DEVELOPER
       <br>
       JS</h2>

</div>

<div class="col-xs-12 col-sm-5 col-lg-5 col-lg-5">
<h5>HOLA A TODOS! ME LLAMO RICHARD, ESTE ES MI PORTFOLIO.
  POR RAZONES DE TIEMPO DE ENTREGA, NO TERMINE CON LA PARTE DE EDICION "DE ACERCA DE MI",
  EL RESTO TODO SE PUEDE AGREGAR, EDITAR O BORRAR. POR LAS DUDAS LO VOY A MANDAR ASI PARA QUE PUEDAN IR EXAMINANDO.
  GRACIAS POR LA EXTENCION DE TIEMPO, LA VOY A APROVECHAR PARA TERMINARLO.
  SALUDOS A TODOS Y A SUS ORDENES.
  GRACIAS A USTEDES "FULL STACK DEVELOPER JS"
   ATTE. RICHARD FABIAN MACEDA
   PD: no tengo redes sociales, solo wahtsapp--1162674397--CABA--
</h5>
</div>
</div>
