<div class="conteiner">
<div class="row">
    <h1>HARD & SOFT SKILLS</h1>
  <div class="col-sm-4 col-md-4 col-lg-4">
   <circle-progress
   
   [percent]="85"
   [subtitle]="'progress'"
   [backgroundPadding]="20"
   
   [outerStrokeWidth]="14"
   [space]="-8"
   [innerStrokeWidth]="46"
  
   [titleFontSize]="'35'"
   [subtitleFontSize]="'18'"

   [outerStrokeColor]="'#2027ee'"
   [innerStrokeColor]="'#1db9ed'"
   [titleColor] = "'#f1f8f7'"
   [subtitleColor] ="'#f1f8f7'"
   [unitsColor]="'#f1f8f7'"
   
   [radius]="45"
   [responsive] = true
   
   [animation]="true"
   [animationDuration]= "600"
   
  ></circle-progress>
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="85"
    [subtitle]="'progress'"
    [backgroundPadding]="20"
 
    [outerStrokeWidth]="14"
    [space]="-8"
    [innerStrokeWidth]="46"
   
    [titleFontSize]="'35'"
    [subtitleFontSize]="'18'"
 
    [outerStrokeColor]="'#728ccb'"
    [innerStrokeColor]="'#1db9ed'"
    [titleColor] = "'#f1f8f7'"
    [subtitleColor] ="'#f1f8f7'"
    [unitsColor]="'#f1f8f7'"
   
    [radius]="45"
    [responsive] = true
    [animation]="true"
    [animationDuration]= "600"
  
    ></circle-progress>
   </div>
   <div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="85"
    [subtitle]="'progress'"
    [backgroundPadding]="20"
 
    [outerStrokeWidth]="14"
    [space]="-8"
    [innerStrokeWidth]="46"
   
    [titleFontSize]="'35'"
    [subtitleFontSize]="'18'"
 
    [outerStrokeColor]="'#b6d5ec'"
    [innerStrokeColor]="'#1db9ed'"
    [titleColor] = "'#f1f8f7'"
    [subtitleColor] ="'#f1f8f7'"
    [unitsColor]="'#f1f8f7'"
   
    [radius]="45"
    [responsive] = true
    [animation]="true"
    [animationDuration]= "600"
  
    ></circle-progress>
   </div>
   <div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="85"
    [subtitle]="'progress'"
    [backgroundPadding]="20"
 
    [outerStrokeWidth]="14"
    [space]="-8"
    [innerStrokeWidth]="46"
   
    [titleFontSize]="'35'"
    [subtitleFontSize]="'18'"
 
    [outerStrokeColor]="'#65909a'"
    [innerStrokeColor]="'#1db9ed'"
    [titleColor] = "'#f1f8f7'"
    [subtitleColor] ="'#f1f8f7'"
    [unitsColor]="'#f1f8f7'"
   
    [radius]="45"
    [responsive] = true
    [animation]="true"
    [animationDuration]= "600"
  
    ></circle-progress>
   </div>
   <div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="85"
    [subtitle]="'progress'"
    [backgroundPadding]="20"
 
    [outerStrokeWidth]="14"
    [space]="-8"
    [innerStrokeWidth]="46"
   
    [titleFontSize]="'35'"
    [subtitleFontSize]="'18'"
 
    [outerStrokeColor]="'#76f4e5'"
    [innerStrokeColor]="'#1db9ed'"
    [titleColor] = "'#f1f8f7'"
    [subtitleColor] ="'#f1f8f7'"
    [unitsColor]="'#f1f8f7'"
   
    [radius]="45"
    [responsive] = true
    [animation]="true"
    [animationDuration]= "600"
  
    ></circle-progress>
   </div>
   <div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="85"
    [subtitle]="'progress'"
    [backgroundPadding]="20"
 
    [outerStrokeWidth]="14"
    [space]="-8"
    [innerStrokeWidth]="46"
   
    [titleFontSize]="'35'"
    [subtitleFontSize]="'18'"
 
    [outerStrokeColor]="'#0eaa98'"
    [innerStrokeColor]="'#1db9ed'"
    [titleColor] = "'#f1f8f7'"
    [subtitleColor] ="'#f1f8f7'"
    [unitsColor]="'#f1f8f7'"
   
    [radius]="45"
    [responsive] = true
    [animation]="true"
    [animationDuration]= "600"
  
    ></circle-progress>
   </div>
</div>
</div>