
<div class="row">
  <hr>
    <h1>HARD & SOFT SKILLS</h1>
    <h5>(Porsentajes SKILLS -relativos a la expectativa del observador)</h5>
  <div class="col-sm-4 col-md-4 col-lg-4">
   <circle-progress
   
   [percent]="70"
   [subtitle]="'HTML'"
   [backgroundPadding]="20"
   
   [outerStrokeWidth]="20"
   [space]="-8"
   [innerStrokeWidth]="46"
  
   [titleFontSize]="'35'"
   [subtitleFontSize]="'30'"

   [outerStrokeColor]="'#2027ee'"
   [innerStrokeColor]="'##050752'"
   [titleColor] = "'#f1f8f7'"
   [subtitleColor] ="'#f1f8f7'"
   [unitsColor]="'#f1f8f7'"
   
   [radius]="60"
   [responsive]="true"
   
   [lazy]="true"
   [animation]="true"
   [animationDuration]= "1500"
   
   
   
  ></circle-progress>
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="50"
    [subtitle]="'CSS'"
    [backgroundPadding]="20"
 
    [outerStrokeWidth]="20"
    [space]="-8"
    [innerStrokeWidth]="46"
   
    [titleFontSize]="'35'"
    [subtitleFontSize]="'40'"
 
    [outerStrokeColor]="'#623974'"
    [innerStrokeColor]="'##050752'"
    [titleColor] = "'#f1f8f7'"
    [subtitleColor] ="'#f1f8f7'"
    [unitsColor]="'#f1f8f7'"
   
    [radius]="60"
    [responsive]="true"

    [lazy]="true"
    [animation]="true"
    [animationDuration]= "1500"
  
    ></circle-progress>
   </div>
   <div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="20"
    [subtitle]="'JS'"
    [backgroundPadding]="20"
 
    [outerStrokeWidth]="20"
    [space]="-8"
    [innerStrokeWidth]="46"
   
    [titleFontSize]="'35'"
    [subtitleFontSize]="'45'"
 
    [outerStrokeColor]="'#be64e8'"
    [innerStrokeColor]="'##050752'"
    [titleColor] = "'#f1f8f7'"
    [subtitleColor] ="'#f1f8f7'"
    [unitsColor]="'#f1f8f7'"
   
    [radius]="60"
    [responsive]="true"

    [lazy]="true"
    [animation]="true"
    [animationDuration]= "1500"
  
    ></circle-progress>
  
  
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="65"
    [subtitle]="'GITHUB'"
    [backgroundPadding]="20"
 
    [outerStrokeWidth]="20"
    [space]="-8"
    [innerStrokeWidth]="46"
   
    [titleFontSize]="'35'"
    [subtitleFontSize]="'26'"
 
    [outerStrokeColor]="'#690896'"
    [innerStrokeColor]="'##050752'"
    [titleColor] = "'#f1f8f7'"
    [subtitleColor] ="'#f1f8f7'"
    [unitsColor]="'#f1f8f7'"
   
    [radius]="60"
    [responsive]="true"

    [lazy]="true"
    [animation]="true"
    [animationDuration]= "1500"
  
    ></circle-progress>
   </div>
   <div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="40"
    [subtitle]="'INGLES'"
    [backgroundPadding]="20"
 
    [outerStrokeWidth]="20"
    [space]="-8"
    [innerStrokeWidth]="46"
   
    [titleFontSize]="'35'"
    [subtitleFontSize]="'27'"
 
    [outerStrokeColor]="'#060cac'"
    [innerStrokeColor]="'##1db9ed'"
    [titleColor] = "'#f1f8f7'"
    [subtitleColor] ="'#f1f8f7'"
    [unitsColor]="'#f1f8f7'"
   
    [radius]="60"
    [responsive]="true"

    [lazy]="true"
    [animation]="true"
    [animationDuration]= "1500"
  
    ></circle-progress>
   </div>
   <div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="100"
    [subtitle]="'GRUPAL'"
    [backgroundPadding]="20"
 
    [outerStrokeWidth]="20"
    [space]="-8"
    [innerStrokeWidth]="46"
   
    [titleFontSize]="'35'"
    [subtitleFontSize]="'25'"
 
    [outerStrokeColor]="'#0892e7'"
    [innerStrokeColor]="'##1db9ed'"
    [titleColor] = "'#f1f8f7'"
    [subtitleColor] ="'#f1f8f7'"
    [unitsColor]="'#f1f8f7'"
   
    [radius]="60"
    [responsive]="true"

    [lazy]="true"
    [animation]="true"
    [animationDuration]= "1500"
  
    ></circle-progress>
   </div>
</div>

