h1{
  color: white;
  padding: 20px;
  padding-top: 5px;
  text-align: center;
 }

 td{
   color: white;
   padding-top: 40px;
  }
 
 .row{
      padding-left:  30px;
      padding-right: 30px;
     }
     
 div{
     background:linear-gradient(to left ,rgb(0, 0, 10)  ,rgb(32, 83, 158));
     }

     .btn-info{
       border-radius: 100%;
     }
     
     

     hr{
       margin: 30px 0;
      border: 2px solid #bfe2ff;
      position: relative;
      overflow: visible;
       }
       hr:after{
       
        content: "";
        border: 2px solid #337ab7;
        position: absolute;
        width: 20%;
        top: -2px;
        animation: anim-hr 5s linear infinite;
       }
       @keyframes anim-hr{
        0%{
          left: -20%;
        }
        100%{
          left: 100%;
        }
       }