<div class="row">
   <hr>
    <h1>PROYECTOS REALIZADOS</h1>

    <div class="container">
    <div class="col-sm-6 col-md-6 col-lg-6" id="star">
       
        <h3>Proyecto 1</h3> -<h3>Titulo</h3>
        <h5>-Descripcion-</h5>
         <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias facere amet eligendi ipsam molestiae dolor, nesciunt numquam architecto saepe dolorum? Ab odit eaque cupiditate nobis! Obcaecati esse quis earum reprehenderit.</p>
    
</div>
<div class="col-sm-6 col-md-6 col-lg-6" id="end">
    
   <a href=""><img src="../../../assets/imagenes header/imagen1.jpg" class="fluid img imagenProyecto"  alt="imagen no disponible en este momento" ></a>

</div>
</div>
</div>
