
    <div class="row">
      <div class="container">
        
         <div class="logo">
         <img src="../../../assets/imagenes header/LogoAP.png" alt="Logo Argentina Programana - no hay imagen disponible"  id="logarpr">
         </div>
      
         <div class="redes">

            <a href=""><img src="../../../assets/imagenes header/whatsapplogo.png" alt="Whatsapp - no hay imagen disponible"></a>
            
         <a href=""><img src="../../../assets/imagenes header/logoFacebook.png" alt="Facebook - no hay imagen disponible"></a>

        <a href=""><img src="../../../assets/imagenes header/logoInstagram.png" alt="instagram - no hay imagen disponible"></a>

        <a href=""><img src="../../../assets/imagenes header/logoTwitter.png" alt="Twitter - no hay imagen disponible"></a>

        <a href=""><img src="../../../assets/imagenes header/logoLinkedin.png" alt="Linkedin - no hay imagen disponible"></a>

        <a href=""><img src="../../../assets/imagenes header/logoGithub.png" alt="GIThub - no hay imagen disponible"></a>
        
         <button type="button" class="btn btn-outline-light" (click)="login()">Ingresar</button> 
     </div>
    </div>
    </div>  
