<div class="row">
  <hr>
    <h1>EDUCACION</h1>
       <ul>
           <li><h3>Establecimiento educativo 1</h3> - <h3>(Años)</h3>-<h3>Titulo</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias facere amet eligendi ipsam molestiae dolor, nesciunt numquam architecto saepe dolorum? Ab odit eaque cupiditate nobis! Obcaecati esse quis earum reprehenderit.</p>
      </ul>
        <ul>
            <li><h3>Establecimiento educativo 2</h3> - <h3>(Años)</h3>-<h3>Titulo</h3></li>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias facere amet eligendi ipsam molestiae dolor, nesciunt numquam architecto saepe dolorum? Ab odit eaque cupiditate nobis! Obcaecati esse quis earum reprehenderit.</p>
          </ul>
          <ul>
            <li><h3>Establecimiento educativo 3</h3> - <h3>(Años)</h3>-<h3>Titulo</h3></li>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias facere amet eligendi ipsam molestiae dolor, nesciunt numquam architecto saepe dolorum? Ab odit eaque cupiditate nobis! Obcaecati esse quis earum reprehenderit.</p>
          </ul>
    </div>