div{
    background:linear-gradient(to right ,rgb(0, 0, 10)  ,rgb(32, 83, 158));
   }
   .row{
    padding-left: 50px;
    padding-right: 50px;
   }
   
   h1{
      color: white;
      padding: 20px;
      padding-top: 5px;
      text-align: center;
     }
   h5{
     color: white;
     text-align: center;
     font-style: italic;
     }
     hr{
      margin: 30px 0;
      border: 2px solid #bfe2ff;
      position: relative;
      overflow: visible;
       }
       hr:after{
        content: "";
        border: 2px solid #337ab7;
        position: absolute;
        width: 20%;
        top: -2px;
        animation: anim-hr 5s linear infinite;
       }
       @keyframes anim-hr{
        0%{
          left: -20%;
        }
        100%{
          left: 100%;
        }
       }
     
     

   